/*.main{
    height: 600px;
}*/
.main_MonteSeuPC{
    display: flex;
    padding: 10px;
}

.menu {
    font-size: 17px;
    width: 250px;
    background-color: #888;
    color: white;
    padding: 20px;
    height: 600px;
}

.screens {
    background-color: #808080;
    /*height: 600px;*/
    flex: 1;
    padding: 20px;
    transition: background-color 0.5s, color 0.5s;
}

